<!DOCTYPE html>
<html lang="it">

	<head>
		<meta charset="UTF-8">
		<title>BGS Guest Counter</title>
		<style>
			body {
				background-color: rgb(45, 45, 45);
				color: white;
			}

			.center {
				position: relative;
				margin: auto;
				width: 90%;
				top: 40%;
				padding: 20px;
				border: 1px solid white;
				text-align: center;
			}
			.center > * {
				position: relative;
				margin: auto;
				padding: 5px;
			}
			a {
				color: lightblue;
				border: 1px solid white;
				border-radius: 5px;
				padding: 3px;
			}
		</style>
	</head>

	<body>
		<div class="center">
			<h1>BGS Guests Counter</h1>
			<h5>
				<% const date = new Date(); %>
				<%= date.getHours(); %>:00 - <%= date.getHours() + 1 ; %>:00
			</h5>
			<p id="currentGuests"><%= currentGuests %></p>
			<form>
				<input type="number" id="number" placeholder="0">
				<button type="submit">Inserisci</button>
				<p id="feedback"></p>
			</form>
			<br>
			<a href="/list">List all day</a>
		</div>
	</body>
	<script src="/JS/index.js"></script>

</html>
